etc/1openssl.cnf
etc/2openssl.cnf
etc/checksums.txt
etc/checksums.txt.asc
etc/cluster-ca-creation.sh
etc/backup/backup.yaml
etc/gate/config.yaml
etc/keycloak/temp/sample.yaml
etc/keycloak/config/.env.dev
etc/keycloak/temp/temp.yaml
etc/linode-LKE/appalachian-bastion-tls.yaml
etc/linode-LKE/external-auth-oauth2.yaml
etc/linode-LKE/hello-app-ingress.yaml
etc/linode-LKE/hello-one.yaml
etc/linode-LKE/hello-two.yaml
etc/linode-LKE/oauth2-proxy.yaml
etc/linode-LKE/ca/acme-issuer-prod.yaml
etc/linode-LKE/ca/ca-cluster-issuer.yaml
etc/linode-LKE/ca/ca-key-pair.yaml
etc/linode-LKE/ca/ca-server-tls-secret.yaml
etc/linode-LKE/ca/local-cluster-ca.crt.pem
etc/linode-LKE/ca/local-cluster-ca.key.pem
etc/linode-LKE/ca/tempcert.yaml
etc/local-cluster-opensll/echo-ingress.yml
etc/local-cluster-opensll/echo1.yml
etc/local-cluster-opensll/echo2.yml
etc/local-cluster-opensll/local-certificate.yaml
etc/local-cluster-opensll/local-cluser-opensll.yaml
etc/local-cluster-opensll/local-ingress.yml
etc/memcached-operator/.dockerignore
etc/memcached-operator/.gitignore
etc/memcached-operator/Dockerfile
etc/memcached-operator/go.mod
etc/memcached-operator/go.sum
etc/memcached-operator/main.go
etc/memcached-operator/Makefile
etc/memcached-operator/PROJECT
etc/memcached-operator/api/v1alpha1/groupversion_info.go
etc/memcached-operator/api/v1alpha1/memcached_types.go
etc/memcached-operator/api/v1alpha1/zz_generated.deepcopy.go
etc/memcached-operator/config/crd/kustomization.yaml
etc/memcached-operator/config/crd/kustomizeconfig.yaml
etc/memcached-operator/config/crd/bases/cache.example.com_memcacheds.yaml
etc/memcached-operator/config/crd/patches/cainjection_in_memcacheds.yaml
etc/memcached-operator/config/crd/patches/webhook_in_memcacheds.yaml
etc/memcached-operator/config/default/kustomization.yaml
etc/memcached-operator/config/default/manager_auth_proxy_patch.yaml
etc/memcached-operator/config/default/manager_config_patch.yaml
etc/memcached-operator/config/manager/controller_manager_config.yaml
etc/memcached-operator/config/manager/kustomization.yaml
etc/memcached-operator/config/manager/manager.yaml
etc/memcached-operator/config/manifests/kustomization.yaml
etc/memcached-operator/config/prometheus/kustomization.yaml
etc/memcached-operator/config/prometheus/monitor.yaml
etc/memcached-operator/config/rbac/auth_proxy_client_clusterrole.yaml
etc/memcached-operator/config/rbac/auth_proxy_role_binding.yaml
etc/memcached-operator/config/rbac/auth_proxy_role.yaml
etc/memcached-operator/config/rbac/auth_proxy_service.yaml
etc/memcached-operator/config/rbac/kustomization.yaml
etc/memcached-operator/config/rbac/leader_election_role_binding.yaml
etc/memcached-operator/config/rbac/leader_election_role.yaml
etc/memcached-operator/config/rbac/memcached_editor_role.yaml
etc/memcached-operator/config/rbac/memcached_viewer_role.yaml
etc/memcached-operator/config/rbac/role_binding.yaml
etc/memcached-operator/config/rbac/role.yaml
etc/memcached-operator/config/rbac/service_account.yaml
etc/memcached-operator/config/samples/cache_v1alpha1_memcached.yaml
etc/memcached-operator/config/samples/kustomization.yaml
etc/memcached-operator/config/scorecard/kustomization.yaml
etc/memcached-operator/config/scorecard/bases/config.yaml
etc/memcached-operator/config/scorecard/patches/basic.config.yaml
etc/memcached-operator/config/scorecard/patches/olm.config.yaml
etc/memcached-operator/controllers/memcached_controller.go
etc/memcached-operator/controllers/suite_test.go
etc/memcached-operator/hack/boilerplate.go.txt
etc/nginx/basic-nginx.yaml
etc/nginx/cert.yaml
etc/nginx/temp.yaml
etc/nginx/temp1.yaml
etc/nginx/yaml
etc/root/ca/cert1.sh
etc/root/ca/index.txt
etc/root/ca/index.txt.attr
etc/root/ca/index.txt.old
etc/root/ca/openssl-ca.cnf
etc/root/ca/serial
etc/root/ca/serial.old
etc/root/ca/certs/ca.cert.pem
etc/root/ca/intermediate/crlnumber
etc/root/ca/intermediate/crlnumber.old
etc/root/ca/intermediate/index.txt
etc/root/ca/intermediate/index.txt.attr
etc/root/ca/intermediate/index.txt.attr.old
etc/root/ca/intermediate/index.txt.old
etc/root/ca/intermediate/openssl-intermediate.cnf
etc/root/ca/intermediate/serial
etc/root/ca/intermediate/serial.old
etc/root/ca/intermediate/certs/appalachian-bastion.tech.cert.pem
etc/root/ca/intermediate/certs/gatehouse.ca-chain.cert.pem
etc/root/ca/intermediate/certs/gatehouse.intermediate.cert.pem
etc/root/ca/intermediate/certs/local-dev.appalachian-bastion.tech.cert.pem
etc/root/ca/intermediate/certs/ocsp.appalachian-bastion.tech.cert.pem
etc/root/ca/intermediate/crl/intermediate.crl.pem
etc/root/ca/intermediate/csr/appalachian-bastion.tech.csr.pem
etc/root/ca/intermediate/csr/gatehouse.intermediate.csr.pem
etc/root/ca/intermediate/csr/local-dev-appalachian-bastion.csr.pem
etc/root/ca/intermediate/csr/local-dev.appalachian-bastion.tech.csr.pem
etc/root/ca/intermediate/csr/ocsp.appalachian-bastion.tech.csr.pem
etc/root/ca/intermediate/newcerts/1000.pem
etc/root/ca/intermediate/newcerts/1001.pem
etc/root/ca/intermediate/newcerts/1002.pem
etc/root/ca/intermediate/newcerts/1003.pem
etc/root/ca/intermediate/private/appalachian-bastion.tech.key.pem
etc/root/ca/intermediate/private/intermediate.key.pem
etc/root/ca/intermediate/private/local-dev.appalachian-bastion.tech.key.pem
etc/root/ca/intermediate/private/ocsp.appalachian-bastion.tech.key.pem
etc/root/ca/newcerts/1000.pem
etc/root/ca/private/ca.key.pem
etc/ssl-certificate-authority/index.txt
etc/ssl-certificate-authority/index.txt.attr
etc/ssl-certificate-authority/index.txt.old
etc/ssl-certificate-authority/openssl-ca.cnf
etc/ssl-certificate-authority/serial
etc/ssl-certificate-authority/serial.old
etc/ssl-certificate-authority/certs/ca.cert.pem
etc/ssl-certificate-authority/intermediate/crlnumber
etc/ssl-certificate-authority/intermediate/index.txt
etc/ssl-certificate-authority/intermediate/index.txt.attr
etc/ssl-certificate-authority/intermediate/index.txt.old
etc/ssl-certificate-authority/intermediate/openssl-intermediate.cnf
etc/ssl-certificate-authority/intermediate/serial
etc/ssl-certificate-authority/intermediate/serial.old
etc/ssl-certificate-authority/intermediate/certs/ca-intermediate-chain.cert.pem
etc/ssl-certificate-authority/intermediate/certs/ca-intermediate-www-appalachian-bastion-tech.cert.pem
etc/ssl-certificate-authority/intermediate/certs/ca-intermediate.cert.pem
etc/ssl-certificate-authority/intermediate/certs/intermediate.cert.pem
etc/ssl-certificate-authority/intermediate/certs/server-intermediate-ca.cert.pem
etc/ssl-certificate-authority/intermediate/certs/server-intermediate.cert.pem
etc/ssl-certificate-authority/intermediate/certs/www.appalachian-bastion.tech.cert.pem
etc/ssl-certificate-authority/intermediate/csr/intermediate.csr.pem
etc/ssl-certificate-authority/intermediate/csr/www.appalachian-bastion.tech.csr.pem
etc/ssl-certificate-authority/intermediate/newcerts/1000.pem
etc/ssl-certificate-authority/intermediate/private/intermediate-open.key.pem
etc/ssl-certificate-authority/intermediate/private/intermediate.key.pem
etc/ssl-certificate-authority/intermediate/private/www.appalachian-bastion.tech.key.pem
etc/ssl-certificate-authority/newcerts/1000.pem
etc/ssl-certificate-authority/private/ca-open.key.pem
etc/ssl-certificate-authority/private/ca.key.pem
etc/traefik/traefik-ingress.yaml
etc/traefik/traefik.yaml
kubeconfig/appalachian-bastion-kubeconfig.yaml
etc/hotel/minikube-update.sh
.idea/appalachian-bastion.iml
.idea/modules.xml
.idea/vcs.xml
.vscode/extensions.json
.vscode/settings.json
etc/tls.yaml
etc/gate/go.mod
etc/gate/go.sum
etc/gate/.idea/gate.iml
etc/gate/.idea/modules.xml
letsencrypt/letsencrypt-prod-clusterissuer.yaml
letsencrypt/letsencrypt-staging-clusterissuer.yaml
etc/gate/.idea/.gitignore
etc/keycloak/docker-compose.yaml
etc/keycloak/keycloak-deployment.yaml
etc/keycloak/keycloak-service.yaml
etc/keycloak/keycloak.yaml
etc/keycloak/postgres-data-persistentvolumeclaim.yaml
etc/keycloak/postgres-deployment.yaml
keycloak-distroless/Dockerfile
keycloak-distroless/postgres-keycloak-setup.sh
keycloak-distroless/standalone.xml
keycloak-distroless/keycloak-k8/keycloak-deployment.yaml
keycloak-distroless/keycloak-k8/keycloak-service.yaml
keycloak-distroless/postgres-k8/postgre-keycloak-pvc.yaml
keycloak-distroless/postgres-k8/postgres-keycloak-deployment.yaml
keycloak-distroless/postgres-k8/postgres-pv.yaml
.idea/workspace.xml
.gitignore
