/etc/
.idea/
/.vscode/
kubeconfig/
*.env

!/conduit/backend/database/postgres/docker/db-data/
!/conduit/backend/internal-service/config/localDBSetupUserDBConfig.env


!/keycloak/kubectl/postgres/postgres-keycloak-cerdentials-secret.yaml
!/keycloak/kubectl/keycloak/keycloak-admin-credentials-secret.yaml

!/keycloak/bitnami-keycloak/secrets/
!/.vscode/

!/local-dev/
/local-dev/

!/keycloak/bitnami-keycloak/

!/keycloak/bitnami-keycloak/
